body {
    font-size: 15px;
    width: 500px;
    margin: 0;
}

.popUpHeader {
    padding: 15px;
    background: lightslategray;
    color: white;
}

.popUpHeader h1 {
    margin: 0;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}